.App {
  text-align: center;
  height: 100vh;
  background: url("/background_1.jpg") no-repeat center center fixed;
  background-size: cover;
}

.App-logo {

}

.App-header {
    height: 90px;
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    vertical-align: top;
    position: relative;
    padding-left: 250px;
    padding-right: 250px;
}

.protopass-button{
  float: left;
  color: white;
  background-color: transparent;
  border-bottom: 77px solid transparent;
  border-left: 6px solid transparent;
  border-right: 15px solid transparent;
  border-top: none;
	height: 0;
  line-height: 80px;
	width: 163px;
  outline: none;
  background-image: url("button-texture.jpg") 163px fixed;
  z-index: 1;
}

.vault-button{
    float: right;
    color: white;
    background-color: transparent;
    border-bottom: 87px solid #555;
    border-left: 16px solid transparent;
    border-right: 4px solid transparent;
    border-top: 0px none;
    height: 0;
    line-height: 80px;
    width: 137px;
    outline: none;
}

.game-button{
    color: white;
    background-color: transparent;
    border-bottom: 78px solid #555;
    border-left: 15px solid transparent;
    border-right: 13px solid transparent;
    border-top: none;
    height: 0;
    line-height: 80px;
    width: 147px;
    outline: none;
}

.menu {
  height: 100%;
  width:15%;
  z-index: 2;
  margin-top: -70px;
}

.menu-button{
  color: lightblue;
}

.secondary-menu {
  position: relative;
  height: 4%;
  width: 20%;
  z-index: 3;
  margin-top: -760px;
  float: right;
  display: flex;
  justify-content: space-around;
}

.feedback-button{
  height: 30px;
  width: 30px;
  color: lightblue;
  background: none;
  border-color: none;
  border-width: none;
}

.settings-button{
  width: 40px;
  height: 40px;
  color: lightblue;
}

.exit-button{
  width: 40px;
  height: 40px;
  color: lightblue;
}