.App {
  text-align: center;
  height: 100vh;
  background: url("/background_1.jpg") no-repeat center center fixed;
  background-size: cover;
}

.App-logo {

}

.App-header {
    height: 90px;
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    vertical-align: top;
    position: relative;
    padding-left: 150px;
    padding-right: 250px;
}

.buttons{
  background: transparent;
  outline: none;
  border: none;
}

.protopass-button{
    float: left;
    background: transparent;
    margin-top: -46px;
    height: 142px;
    z-index: 3;
}

.vault-button{
    float: right;
    background: transparent;
    margin-top: -46px;
    height: 142px;
    z-index: 3;
}

.game-button{
    margin-top: -46px;
    background: transparent;
    height: 142px;
    z-index: 3;
}

.menu {
  height: 100%;
  width:15%;
  z-index: 2;
  margin-top: -89px;
}

.menu-button{
  margin-left: 56px;
  margin-top: 20px;
}

.secondary-menu {
  position: relative;
  height: 4%;
  width: 20%;
  z-index: 3;
  margin-top: -777px;
  float: right;
  display: flex;
  justify-content: space-around;
}

.feedback-button{
  height: 20px;
  width: 20px;
  color: white;
  background: none;
  border-color: none;
  border-width: none;
}

.settings-button{
  width: 20px;
  height: 20px;
  color: white;
}

.exit-button{
  width: 20px;
  height: 20px;
  color: white;
}

.profile{
  z-index: 2;
  margin-top: -700px;
  margin-left: -200px;
}

.profile-pic{
  height: 80px;
  width: 80px;
  float: right;
}

.level-progress{
  color: white;
  background: darkgrey;
  height: 20px;
  width: 100px;
}

.play-button{
  float: left;
  margin-top: 100px;
  position: absolute;
  
}

.season-info {
    height: 86%;
    width: 98%;
    background: rgba(0, 0, 0, 0.3);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: -42px;
    margin-left: 0px;
    padding-top: 68px;
}